{% extends "base.html" %}
{% load l10n %}
{% block content %}

<div class="titulo-grafico">
Evolución Facturación en USD
</div>


<form method="get">

<div class="barra-opciones">

<b>Periodo:</b>

<label>
<input type="radio" name="tipo" value="mensual"
{% if tipo == "mensual" %}checked{% endif %}>
Mensual
</label>

<label>
<input type="radio" name="tipo" value="trimestral"
{% if tipo == "trimestral" %}checked{% endif %}>
Trimestral
</label>

<label>
<input type="radio" name="tipo" value="anual"
{% if tipo == "anual" %}checked{% endif %}>
Anual
</label>


<span style="border-left:1px solid #ccc;height:20px;"></span>

<b>Modo:</b>

<label>
<input type="radio" name="modo" value="lineas"
{% if modo == "lineas" %}checked{% endif %}>
Líneas
</label>

<label>
<input type="radio" name="modo" value="barras"
{% if modo == "barras" %}checked{% endif %}>
Barras
</label>


<span style="border-left:1px solid #ccc;height:20px;"></span>

<label>
<input type="checkbox"
name="desglose"
value="1"
{% if desglose %}checked{% endif %}>
Desglose aseguradoras
</label>

<button type="submit">Actualizar</button>

</div>


<!-- AÑOS EN LINEA APARTE -->

<div class="barra-opciones">

<b>Años:</b>

{% for anio in anios_disponibles %}

<label>
<input type="checkbox"
name="anio"
value="{{ anio }}"
{% if anio in anios_seleccionados %}checked{% endif %}>
{{ anio }}
</label>

{% endfor %}

</div>

</form>


<div style="height: calc(100vh - 170px);">

<canvas id="grafico"></canvas>

</div>


<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

<script>

const labels = {{ labels|safe }};
const datasets = {{ datasets|safe }};

new Chart(document.getElementById('grafico'),{

type: "{{ modo }}" === "barras" ? "bar" : "line",

data:{
labels:labels,
datasets:datasets
},

options:{

responsive:true,
maintainAspectRatio:false,

interaction:{
mode:'index',
intersect:false
},

scales:{
x:{},
y:{}
}

}

});

</script>


{% endblock %}